@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*! :not(.notApplyDelay) => transtion efektleri çakışmasın diye kullanıldı (asideNavBar)*/

body:not(.notApplyDelay) * {
  @apply transition-colors duration-150 ease-in;
}
